.review-sec {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: white;
width: 50%;
height: 45vh;
margin: auto;
padding: 15px;
}

@media screen and (max-width: 768px) {
    
    .review-sec{
        height: 35vh;
        width: 80%;
    }
}